@charset "UTF-8";
*{
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: Nexa;
    src: url(fontes/Nexa-Heavy.ttf);
}
:root{
    --cor0: #d0fdd7;
    --cor1: #9bfab0;
    --cor2: #64c27b;
    --cor4: #1f703a;
    --cor5: #104e25;

}

body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

Header{
    height: 370px;
    background-color: var(--cor0);
    margin: 0;
    display: flex;
    justify-content: center;
}

header > img{
    width: 375px;
    height: 370px;
    display: flex;
    align-items: center;
    border-radius: 40%;
}
.info{
    text-align: center;
    align-items: center;
    font-family: Nexa;
    height: 250px;
    background-color: var(--cor0);
    color: var(--cor4);
}
.cardapiohistoria{
    font-family: normal;
    background-color: var(--cor2);
    height: 40px;
    display: flex;                /* ativa flexbox */
    justify-content: space-evenly; 
    align-items: center; 
}

.cardapiohistoria > a{
    font-family: Nexa;
    font-size: 25px;
    color:var(--cor0);
    text-decoration: none;
}
main{
    width: 100%;
    margin: auto;
    padding-top: 0px;
}
nav{
    text-align: center;
    align-items: center;
    background-color: var(--cor4);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 100%;
    max-height: 300px;
    overflow-x: auto;
    position: sticky;
    top: 0;
    z-index: 1000;


    display: flex;                /* ativa flexbox */
    justify-content: space-between; /* logo esquerda, menu direita */
    align-items: center;          /* centraliza verticalmente */
    gap: 50px;
    
    height: 70px;
}

nav > a{
    color: var(--cor0);
    font-family: Nexa;
    font-size: 20px;
    display: flex;
    padding: 10px;
}

#produtos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.imagemitem > img{
    height: 80px;
    width: 80px;
}
#produtos > div > p{
    font-family: Nexa;
    font-size: 17px;
}

.Valor > p{
    color: var(--cor5);
}