@charset "UTF-8";
*{
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: Nexa;
    src: url(fontes/Nexa-Heavy.ttf);
}
:root{
    --cor0: #d0fdd7;
    --cor1: #9bfab0;
    --cor2: #64c27b;
    --cor4: #1f703a;
    --cor5: #104e25;

}

body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

Header{
    height: 370px;
    background-color:white;
    margin: 0;
    display: flex;
    justify-content: center;
}

header > img{
    width: 375px;
    height: 370px;
    display: flex;
    align-items: center;
}
.info{
    text-align: center;
    align-items: center;
    font-family: Nexa;
    height: 250px;
    background-color:white;
    color: var(--cor4);
}
.cardapiohistoria{
    font-family: normal;
    background-color: var(--cor2);
    height: 40px;
    display: flex;                /* ativa flexbox */
    justify-content: space-evenly; 
    align-items: center; 
}

.cardapiohistoria > a{
    font-family: Nexa;
    font-size: 25px;
    color:var(--cor2);
    text-decoration: none;
}
#Cardapio{
    background-color:var(--cor2);
    color:var(--cor0);
    padding-left:0px;
    border-radius:10px;
    padding-left:6px;
    padding-right:10px;
}

#Historia{
    color: var(--cor2);
    background-color:var(--cor0);
    border-radius:10px;
    padding-left:6px;
    padding-right:10px;
}
main{
    width: 100%;
    margin: auto;
    padding-top: 0px;
}

.galeria {
  display: flex;
  flex-wrap: wrap; /* Permite quebra de linha */
  gap: 10px; /* Espaço entre fotos */
  justify-content: center; /* Centraliza as imagens */
  padding-top: 10px;
}

.galeria img {
  width: 200px; /* Largura das fotos */
  height: auto;
  border-radius: 8px; /* Cantos arredondados */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  cursor: pointer; /* Muda o cursor para indicar que dá para clicar */
  transition: transform 0.3s ease;
}

.galeria img:hover {
  transform: scale(1.10); /* Zoom suave ao passar o mouse */
}